h1,
p {
  font-family: Lato;
  text-align: center;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
li {
  padding: 5px;
  margin: 5px;
}
/* a{
  text-decoration: none;
} */
.row div {
  width: 50%;
  display: inline-block;
  text-align: right;
  margin-right: 20px;
}
.row span {
  display: inline-block;
  text-align: right;
  width: 50px;
}
